body {
  padding-top: 56px;
}
h3 {
  background-color: rgba( 0, 0, 0, 0.3 ); 
  color: white;
}
.hope {
  text-align: center;
  color: black;
}
.img-fluid rounded {
  margin-top: 30px;
}
.explain {
  font-size: 1.6em;
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.lastone {
  font-size: 18px;
}
.pointone {
  text-decoration: underline;
}
.pnumber {
  font-size: 23px;
  font-weight: 700;
}
.email {
  font-size: 23px;
  font-weight: 700;
}
